BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110
BreakBeforeBraces: Allman
NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
BinPackParameters: false
SortIncludes: Never
FixNamespaceComments: false
InsertBraces: true
SeparateDefinitionBlocks: Always
